@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    color: #4A4A4A;
  }
  h1, h2, h3 {
    font-family: 'Playfair Display', Georgia, serif;
    color: #012878;
  }
  th {
    color: #4A4A4A;
  }
}
